/* userProfile.css */

.user-profile {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    margin-top: 10px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text-center {
    text-align: center;
    margin-top: 20px;
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .user-info {
    margin-top: 20px;
  }
  .profile-image {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
    
  }